/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$bp-xs: 480;
$bp-768: 768;
$bp-991: 991;
$bp-1024: 1024;
$bp-1280: 1194;
$bp-1400: 1366;
$bp-1600: 1601;
$bp-1900: 1900;

/*------------------------------------*\
    #COLOUR-VARIABLES
\*------------------------------------*/

/**
  * One of the best reasons to use Sass is variables.
  * They help keep your code DRY, which makes it easy to maintain and change.
  * However, with colors, it's easy for your variables to get out of hand.
  *
  * Solution - Use Name that colour - http://bit.ly/1KCISUE
  * Name your variables after colors like you were trying to do, but without the naming difficulty
  * Suggestion by David Walsh - http://bit.ly/1I62ZLL
*/

$primary: #eb4634;
$primary-light: lighten($primary, 15%);
$primary-dark: darken($primary, 15%);

$secondary: #75c77e;
$secondary-light: lighten($secondary, 15%);
$secondary-dark: darken($secondary, 15%);

$tertiary: #7599c7;
$tertiary-light: lighten($tertiary, 15%);
$tertiary-dark: darken($tertiary, 15%);

$dark: #111111;
$light: #ffffff;
$grey: #D9D9D9;