*,
*:before,
*:after {
    box-sizing: border-box;
}

.js #flash {
    display: none;
}

body {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    border: none;
}

a {
    transition: all, 0.25s, linear;
    text-decoration: none;
}

img,
video,
audio,
iframe,
object {
    max-width: 100%;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
}

sub,
sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -9px;
}

button {
    outline: none;
}

object {
    display: block;
}

strong {
    font-weight: bold;
}

/**
  * So to avoid duplicate CSS declarations we have decided to add some single classes
  * Its all for the BEM methodology
*/

.primary {
    color: $primary;

    &__bg {
        background: $primary;
    }
}

.secondary {
    color: $secondary;

    &__bg {
        background: $secondary;
    }
}

.tertiary {
    color: $tertiary;

    &__bg {
        background: $tertiary;
    }
}

.dark {
    color: $dark;

    &__bg {
        background: $dark;
    }
}

.light {
    color: $light;

    &__bg {
        background: $light;
    }
}

.underline {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background: $dark;
        position: absolute;
        bottom: 0px;
        left: 0;
    }
}

.object-fit {
    width: 100%;
    height: 100%;
    font-family: 'object-fit: cover;';
    object-fit: cover;
}

.object-contain {
    width: 100%;
    height: 100%;
    font-family: 'object-fit: contain;';
    object-fit: contain;
}

.object-pos-left {
    object-position: left top;
}

.relative {
    position: relative;
}

.flex {
	display: flex;
}

.align-left {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
